TILESERVER_HOST = "0.0.0.0"
TILESERVER_PORT = 8089
TILESERVER_WORKERS = 20
TILESERVER_DEBUG = False
TILESERVER_LOGLEVEL = 'critical'
TILE_SIZE = 512
TENSORSTORE_SERVER_URL = "http://localhost:8088"
TENSORSTORE_SERVER_HOST = "0.0.0.0"
TENSORSTORE_SERVER_PORT = 8088
TENSORSTORE_SERVER_WORKERS = 3
TENSORSTORE_SERVER_DEBUG = False
TENSORSTORE_SERVER_LOGLEVEL = 'critical'
DRAGONFLY_HOST = "127.0.0.1"
DRAGONFLY_PORT = 6377
TENSORSTORE_CACHE_SIZE = 1_737_418_240
TENSORSTORE_SPEC = {
    'driver': 'neuroglancer_precomputed',
    'kvstore': 'gs://h01-release/data/20210601/4nm_raw',
}
TENSORSTORE_SCALE_INDEX = list(range(13))
PREFETCH_ADJACENT_Z = 10
PREFETCH_HIGHERRES_SCALE_INDEX = True
